<a href="https://colab.research.google.com/github/Auj7/ShAI-Training/blob/main/Abdullah_Al_Jundi_ShAI_Session_10_%5Btasks_during_the_session%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy Exercises

Now that we've learned about NumPy let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions.

#### Import NumPy as np

In [ ]:
import numpy as np

#### Create an array of 10 zeros

In [ ]:
zeroarray = np.zeros(10)
print (zeroarray)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

#### Create an array of 10 ones

In [ ]:
onesarray = np.ones(10)
print (onesarray)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

#### Create an array of 10 fives

In [ ]:
tenfivesarray = np.ones(10) * 5
print (tenfivesarray)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

#### Create an array of the integers from 10 to 50

In [ ]:
tentofiftyarray = np.arange(10,51)
print(tentofiftyarray)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

#### Create an array of all the even integers from 10 to 50

In [ ]:
tentofiftyevenarray = np.arange(10,51,2)
print(tentofiftyevenarray)

[10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50]

#### Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
matrix1 = np.arange(9).reshape(3,3)
print(matrix1)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Create a 3x3 identity matrix

In [ ]:
identitymatrix = np.eye(3)
print(identitymatrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Use NumPy to generate a random number between 0 and 1

In [ ]:
np.random.rand(1)

array([0.56127118])

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [ ]:
np.random.randn(25)

array([ 0.03176915,  0.41379515, -1.1510835 , -0.47002539,  0.41177906,
       -0.69050062, -1.5175399 , -1.23885827, -0.51282816, -1.09734995,
        0.25817961,  1.14278065, -0.68768632,  0.74247806,  0.35342954,
       -0.87379061, -1.88190604, -0.28526449, -1.25557383, -0.30497984,
        1.15928359, -0.64315201, -0.20470411, -0.86977767,  0.89912104])

#### Create the following matrix:

In [ ]:
mat1 = np.arange(1,101).reshape(10,10) / 100
mat2 = np.arange(1,101).reshape(10,10) / 10
mat3 = np.arange(1,101).reshape(10,10)
print(mat1)
print(mat2)
print(mat3)

[[0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1 ]
 [0.11 0.12 0.13 0.14 0.15 0.16 0.17 0.18 0.19 0.2 ]
 [0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28 0.29 0.3 ]
 [0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4 ]
 [0.41 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5 ]
 [0.51 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59 0.6 ]
 [0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7 ]
 [0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8 ]
 [0.81 0.82 0.83 0.84 0.85 0.86 0.87 0.88 0.89 0.9 ]
 [0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98 0.99 1.  ]]
[[ 0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1. ]
 [ 1.1  1.2  1.3  1.4  1.5  1.6  1.7  1.8  1.9  2. ]
 [ 2.1  2.2  2.3  2.4  2.5  2.6  2.7  2.8  2.9  3. ]
 [ 3.1  3.2  3.3  3.4  3.5  3.6  3.7  3.8  3.9  4. ]
 [ 4.1  4.2  4.3  4.4  4.5  4.6  4.7  4.8  4.9  5. ]
 [ 5.1  5.2  5.3  5.4  5.5  5.6  5.7  5.8  5.9  6. ]
 [ 6.1  6.2  6.3  6.4  6.5  6.6  6.7  6.8  6.9  7. ]
 [ 7.1  7.2  7.3  7.4  7.5  7.6  7.7  7.8  7.9  8. ]
 [ 8.1  8.2  8.3  8.4  8.5  8.6  8.7  8.8  8.9  9. ]
 [ 9.1  9.2  9.3  9.4  9.5  9.6  9.7  9.8  9.9 10. ]]
[[  1   2   3   4   5   6   7   8   9  10]
 [ 11  12  13  14  15  16  17  18  19  20]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 31  32  33  34  35  36  37  38  39  40]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 51  52  53  54  55  56  57  58  59  60]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 71  72  73  74  75  76  77  78  79  80]
 [ 81  82  83  84  85  86  87  88  89  90]
 [ 91  92  93  94  95  96  97  98  99 100]]

#### Create an array of 20 linearly spaced points between 0 and 1:

In [ ]:
linspacearray = np.linspace(0,1,20)
print(linspacearray)

[0.         0.05263158 0.10526316 0.15789474 0.21052632 0.26315789
 0.31578947 0.36842105 0.42105263 0.47368421 0.52631579 0.57894737
 0.63157895 0.68421053 0.73684211 0.78947368 0.84210526 0.89473684
 0.94736842 1.        ]

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [ ]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
mat[2:,1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [ ]:
mat[3,4]

20

In [ ]:
mat[:3,1:2]

array([[ 2],
       [ 7],
       [12]])

In [ ]:
mat[4,:]

array([21, 22, 23, 24, 25])

In [ ]:
mat[3:5,:]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### Now do the following

#### Get the sum of all the values in mat

In [ ]:
mat.sum()

325

#### Get the standard deviation of the values in mat

In [ ]:
mat.std()

7.211102550927978

#### Get the sum of all the columns in mat

In [ ]:
mat.sum(axis=0)

array([55, 60, 65, 70, 75])

# Great Job!