<a href="https://colab.research.google.com/github/Auj7/ShAI-Training/blob/main/Abdullah_Al_Jundi_ShAI_Session_04_%5Btasks_during_the_session%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String:
   - Task: Write a function to count the number of vowels in a given string.

In [1]:
def count_vowels(string):
    vowels = "aeiouAEIOU"

    count = 0
    for char in string:
        if char in vowels:
            count += 1

    return count
#test
sentence = "Abdullah R. Al.Jundi"
result = count_vowels(sentence)
print("# of vowels:", result)

# of vowels: 6

- Task: Write a function that takes a string and returns the same string but with every second letter capitalized.

In [3]:
def capitalize_second_letters(string):
    words = string.split()

    for i in range(len(words)):
        word = list(words[i])

        for j in range(1, len(word), 2):
            word[j] = word[j].upper()

        words[i] = ''.join(word)

    return ' '.join(words)

# test:
my_string = "abdullah rakan al.jundi"
result = capitalize_second_letters(my_string)
print(result)

aBdUlLaH rAkAn aL.JuNdI

# List:

-   Task: Write a function that takes a list of numbers and returns a new list containing only the even numbers.

In [4]:
def get_even_numbers(numbers):
    even_numbers = []

    for number in numbers:
        if number % 2 == 0:
            even_numbers.append(number)

    return even_numbers
#test:
my_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = get_even_numbers(my_numbers)
print(result)

[2, 4, 6, 8, 10]

- Task: Write a function that takes a list and returns a new list with duplicate values removed.

In [5]:
def remove_duplicates(lst):
    unique_list = []

    for item in lst:
        if item not in unique_list:
            unique_list.append(item)

    return unique_list
#test
my_list = [1, 2, 3, 4, 2, 3, 5, 6, 1, 7, 8, 7]
result = remove_duplicates(my_list)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

# Set:
- Task: Write a function that takes two sets and returns their intersection as a new set.

In [6]:
def get_set_intersection(set1, set2):
    intersection = set1.intersection(set2)
    return intersection
#test:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
result = get_set_intersection(set1, set2)
print(result)

{4, 5}

- Task: Write a function that takes two sets and returns their union as a new set.

In [7]:
def get_set_union(set1, set2):
    union = set1.union(set2)
    return union
#test:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
result = get_set_union(set1, set2)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8}

# Tuple:
- Task: Write a function that takes a list of tuples and sorts them based on the second element of each tuple.

In [8]:
def sort_tuples_by_second_element(tuples_list):
    sorted_list = sorted(tuples_list, key=lambda x: x[1])
    return sorted_list
#test:
my_list = [(3, 9), (2, 5), (1, 7), (4, 2), (5, 0)]
result = sort_tuples_by_second_element(my_list)
print(result)

[(5, 0), (4, 2), (2, 5), (1, 7), (3, 9)]

   - Task: Write a function that takes a tuple and returns a reversed version of that tuple.

In [9]:
def reverse_tuple(input_tuple):
    reversed_tuple = input_tuple[::-1]
    return reversed_tuple
#test:
my_tuple = (1, 2, 3, 4, 5)
result = reverse_tuple(my_tuple)
print(result)

(5, 4, 3, 2, 1)

# Dictionary:
   - Task: Write a function that takes a dictionary and returns the keys and values as separate lists.

In [10]:
def separate_dict_keys_values(dictionary):
    keys = list(dictionary.keys())
    values = list(dictionary.values())
    return keys, values
#test:
my_dict = {"a": 1, "b": 2, "c": 3, "d": 4}
result_keys, result_values = separate_dict_keys_values(my_dict)
print("Keys:", result_keys)
print("Values:", result_values)

Keys: ['a', 'b', 'c', 'd']
Values: [1, 2, 3, 4]

   - Task: Write a function that takes a dictionary and a key, and if the key exists in the dictionary, return its value. If the key does not exist, return a default value.

In [11]:
def get_value_from_dict(dictionary, key, default_value=None):
    if key in dictionary:
        return dictionary[key]
    else:
        return default_value
#test:
my_dict = {"a": 1, "b": 2, "c": 3}
result = get_value_from_dict(my_dict, "b", default_value=0)
print(result)

2