<a href="https://colab.research.google.com/github/Auj7/ShAI-Training/blob/main/CodeWars_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple multiplication
This kata is about multiplying a given number by eight if it is an even number and by nine otherwise.

https://www.codewars.com/kata/583710ccaa6717322c000105

In [ ]:
def simple_multiplication(number) :
    if number % 2 == 0:
        return number * 8
    else:
        return number * 9

# Century From Year
Introduction

The first century spans from the year 1 up to and including the year 100, the second century - from the year 101 up to and including the year 200, etc.

Task

Given a year, return the century it is in.

https://www.codewars.com/kata/5a3fe3dde1ce0e8ed6000097

In [ ]:
import math

def century(year):
    cent = year / 100
    if cent % 2 == 0:
        return cent
    else:
        cent = math.ceil(year/100)
        return cent

# Is n divisible by x and y?
Create a function that checks if a number n is divisible by two numbers x AND y. All inputs are positive, non-zero numbers.

https://www.codewars.com/kata/5545f109004975ea66000086

In [ ]:
def is_divisible(n,x,y):
    if n > 0 and n % x == 0 and n % y == 0 and x > 0 and y > 0:
        return True
    else:
        return False

# Even or Odd
Create a function that takes an integer as an argument and returns "Even" for even numbers or "Odd" for odd numbers.

https://www.codewars.com/kata/53da3dbb4a5168369a0000fe

In [ ]:
def even_or_odd(number):
  if number % 2 == 0:
    return "Even"
  else:
    return "Odd"

# Reversed Strings
Complete the solution so that it reverses the string passed into it.

https://www.codewars.com/kata/5168bb5dfe9a00b126000018

In [ ]:
def solution(word):
    return word[::-1]

# Convert a Boolean to a String
Description:
Implement a function which convert the given boolean value into its string representation.

Note: Only valid inputs will be given.

https://www.codewars.com/kata/551b4501ac0447318f0009cd

In [ ]:
def boolean_to_string(b):
    if b == True:
        return str(b)
    elif b == False:
        return str(b)

# Price of Mangoes
There's a "3 for 2" (or "2+1" if you like) offer on mangoes. For a given quantity and price (per mango), calculate the total cost of the mangoes.

https://www.codewars.com/kata/57a77726bb9944d000000b06

In [ ]:
import math
def mango(quantity, price):
    return (quantity - int(quantity/3)) * price

# Quarter of the year
Given a month as an integer from 1 to 12, return to which quarter of the year it belongs as an integer number.

For example: month 2 (February), is part of the first quarter; month 6 (June), is part of the second quarter; and month 11 (November), is part of the fourth quarter.

Constraint:
1 <= month <= 12

https://www.codewars.com/kata/5ce9c1000bab0b001134f5af

In [ ]:
def quarter_of(month):
    if month>=1 and month<=3:
        return 1
    elif month>=4 and month<=6:
        return 2
    elif month>=7 and month<=9:
        return 3
    elif month>=10 and month<=12:
        return 4

# Invert values
Given a set of numbers, return the additive inverse of each. Each positive becomes negatives, and the negatives become positives.

https://www.codewars.com/kata/5899dc03bc95b1bf1b0000ad

In [ ]:
def invert(numbers):
    inverted = []
    for num in numbers:
        inverted.append(-num)
    return inverted

# Remove exclamation marks
Write function RemoveExclamationMarks which removes all exclamation marks from a given string.

https://www.codewars.com/kata/57a0885cbb9944e24c00008e

In [ ]:
def remove_exclamation_marks(s):
    return s.replace('!', '')

# Find Maximum and Minimum Values of a List
Your task is to make two functions ( max and min, or maximum and minimum, etc., depending on the language ) that receive a list of integers as input, and return the largest and lowest number in that list, respectively.

https://www.codewars.com/kata/577a98a6ae28071780000989

In [ ]:
def maximum(lst):
    return max(lst)

def minimum(lst):
    return min(lst)

# Multiply
This code does not execute properly. Try to figure out why.

https://www.codewars.com/kata/50654ddff44f800200000004

In [ ]:
def multiply(a, b):
    return a * b

# Keep Hydrated!
Nathan loves cycling.

Because Nathan knows it is important to stay hydrated, he drinks 0.5 litres of water per hour of cycling.

You get given the time in hours and you need to return the number of litres Nathan will drink, rounded to the smallest value.

https://www.codewars.com/kata/582cb0224e56e068d800003c

In [ ]:
def litres(time):
    return int(time * 0.5)

# Beginner - Reduce but Grow
Given a non-empty array of integers, return the result of multiplying the values together in order. Example:

    [1, 2, 3, 4] => 1 * 2 * 3 * 4 = 24
https://www.codewars.com/kata/57f780909f7e8e3183000078

In [ ]:
def grow(lst):
    result = 1
    for num in lst:
        result *= num
    return result

# Convert a String to a Number!
We need a function that can transform a string into a number. What ways of achieving this do you know?

Note: Don't worry, all inputs will be strings, and every string is a perfectly valid representation of an integral number.

https://www.codewars.com/kata/544675c6f971f7399a000e79

In [ ]:
def string_to_number(s):
    return int(s)

# Remove First and Last Character
It's pretty straightforward. Your goal is to create a function that removes the first and last characters of a string. You're given one parameter, the original string. You don't have to worry with strings with less than two characters.

https://www.codewars.com/kata/56bc28ad5bdaeb48760009b0

In [ ]:
def remove_char(s):
    return s[1:-1]

# String Repeat
Write a function that accepts an integer n and a string s as parameters, and returns a string of s repeated exactly n times.

https://www.codewars.com/kata/57a0e5c372292dd76d000d7e

In [ ]:
def repeat_str(repeat, word):
    return word * repeat

# Remove String Spaces
Write a function that removes the spaces from the string, then return the resultant string.

https://www.codewars.com/kata/57eae20f5500ad98e50002c5

In [ ]:
def no_space(x):
    return x.replace(" ", "")

# All Star Code Challenge #18
Create a function that accepts a string and a single character, and returns an integer of the count of occurrences the 2nd argument is found in the first one.

If no occurrences can be found, a count of 0 should be returned.

https://www.codewars.com/kata/5865918c6b569962950002a1

In [ ]:
def count_occurrences(s, char):
    return s.count(char)

# Beginner Series #2 Clock
DESCRIPTION:
Clock shows h hours, m minutes and s seconds after midnight.

Your task is to write a function which returns the time since midnight in milliseconds.

https://www.codewars.com/kata/55f9bca8ecaa9eac7100004a

In [ ]:
def past(h, m, s):
    hours_in_ms = h * 3600000
    minutes_in_ms = m * 60000
    seconds_in_ms = s * 1000
    return hours_in_ms + minutes_in_ms + seconds_in_ms

# altERnaTIng cAsE <=> ALTerNAtiNG CaSe
Define String.prototype.toAlternatingCase (or a similar function/method such as to_alternating_case/toAlternatingCase/ToAlternatingCase in your selected language; see the initial solution for details) such that each lowercase letter becomes uppercase and each uppercase letter becomes lowercase.

As usual, your function/method should be pure, i.e. it should not mutate the original string.

https://www.codewars.com/kata/56efc695740d30f963000557

In [ ]:
def to_alternating_case(s):
    return ''.join(c.lower() if c.isupper() else c.upper() for c in s)