<a href="https://colab.research.google.com/github/Auj7/ShAI-Training/blob/main/CodeWars%20(Problem%20Solving)_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple multiplication
This kata is about multiplying a given number by eight if it is an even number and by nine otherwise.

https://www.codewars.com/kata/583710ccaa6717322c000105

In [7]:
def simple_multiplication(number) :
    if number % 2 == 0:
        return number * 8
    else:
        return number * 9

# Century From Year
Introduction

The first century spans from the year 1 up to and including the year 100, the second century - from the year 101 up to and including the year 200, etc.

Task

Given a year, return the century it is in.

https://www.codewars.com/kata/5a3fe3dde1ce0e8ed6000097

In [ ]:
import math

def century(year):
    cent = year / 100
    if cent % 2 == 0:
        return cent
    else:
        cent = math.ceil(year/100)
        return cent

# Is n divisible by x and y?
Create a function that checks if a number n is divisible by two numbers x AND y. All inputs are positive, non-zero numbers.

https://www.codewars.com/kata/5545f109004975ea66000086

In [6]:
def is_divisible(n,x,y):
    if n > 0 and n % x == 0 and n % y == 0 and x > 0 and y > 0:
        return True
    else:
        return False

# Even or Odd
Create a function that takes an integer as an argument and returns "Even" for even numbers or "Odd" for odd numbers.

https://www.codewars.com/kata/53da3dbb4a5168369a0000fe

In [ ]:
def even_or_odd(number):
  if number % 2 == 0:
    return "Even"
  else:
    return "Odd"

# Reversed Strings
Complete the solution so that it reverses the string passed into it.

https://www.codewars.com/kata/5168bb5dfe9a00b126000018

In [8]:
def solution(word):
    return word[::-1]

# Convert a Boolean to a String
Description:
Implement a function which convert the given boolean value into its string representation.

Note: Only valid inputs will be given.

https://www.codewars.com/kata/551b4501ac0447318f0009cd

In [ ]:
def boolean_to_string(b):
    if b == True:
        return str(b)
    elif b == False:
        return str(b)

# Price of Mangoes
There's a "3 for 2" (or "2+1" if you like) offer on mangoes. For a given quantity and price (per mango), calculate the total cost of the mangoes.

https://www.codewars.com/kata/57a77726bb9944d000000b06

In [ ]:
import math
def mango(quantity, price):
    return (quantity - int(quantity/3)) * price

# Quarter of the year
Description:

Given a month as an integer from 1 to 12, return to which quarter of the year it belongs as an integer number.

For example: month 2 (February), is part of the first quarter; month 6 (June), is part of the second quarter; and month 11 (November), is part of the fourth quarter.

Constraint:
1 <= month <= 12

https://www.codewars.com/kata/5ce9c1000bab0b001134f5af

In [ ]:
def quarter_of(month):
    if month>=1 and month<=3:
        return 1
    elif month>=4 and month<=6:
        return 2
    elif month>=7 and month<=9:
        return 3
    elif month>=10 and month<=12:
        return 4

# Invert values
Given a set of numbers, return the additive inverse of each. Each positive becomes negatives, and the negatives become positives.

https://www.codewars.com/kata/5899dc03bc95b1bf1b0000ad

In [ ]:
def invert(numbers):
    inverted = []
    for num in numbers:
        inverted.append(-num)
    return inverted